*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
/* Header Section Start */
header{
    width: 100vw;
    height: 50px;
    background: #022D7C;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px;
}
   .i{
    padding-inline-start: 20px;
}
 
/* Header Setion End */
/* Banner Section Start */
.banner{
    width:100%;
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    color: #fff;
    background:url(../img/Process\ Industries_hero.jpeg);
    background-size: cover;
}
.banner h1{
    font-size: 40px;
    font-weight: normal;
}
.banner h1 span{
    font-size :70px; 
    display : block;
    font-weight: 600;
}
.banner aside{
    background: #022D7C;
    padding:20px;
    text-align: center;
    border-radius: 5px;
}
.banner aside input[type]{
    width: 100%;
    height: 20px;
    padding: 30px 20px;
    border: 6px solid #022D7C;;
}
.banner aside textarea{
    width: 100%;
    height: 90px;
    margin: 3px;
}
.banner aside button{
    width: 80%;
    height: 50px;
}
/* Banner Section End */
/* Feature section start */
.feature{
    width:100%;
    height: auto;
    display: flex;
    color:  #022D7C;
    padding:50px 100px;
    justify-content: space-between;
}
.feature div{
    width: 30%;
    height: 400px;
    
}
.feature div h2{
    font-size: 30px;
    margin-bottom: 7px;
}
.feature div p{
    margin-top: 5px;
    font-size: 15px;
    text-align: justify;
}
    

.feature div img{
    width:300px;
    height:200px;
}
/* Feature section end 
/* About us Start */
.about{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 60px 200px;
    text-align: center;
    background: #022D7C;;
}
.about h2{
    font-size: 33px;
    margin-bottom: 7px;
}
.about p{
    font-size: 18px;
    font-weight: normal;
}
.about button{
    padding:20px 60px;
    font-weight:300px ;
    font-size: small;
    color:#022D7C;
    border:2px solid #fff;
    border-radius:4px;
}
/* About us End */
/* Service Section Start */
.service{
    width: 100%;
    height: auto;
    padding: 0px 100px;
}
.service .upper, .service .lower{
    display: flex;
    align-content: center;
}
.upper .image, 
.service .content{
    width:50%;
}
.service .image img{
    width:570px;
    height:100%;
}
.service .lower .content h3{
    padding-top: 200px;
}
/* Service Section End */
/* Footer Section Start */
footer{
    width:100%;
    height:auto;
    background:#022D7c;
    color:#fff;
    padding:25px 100px;
    text-align: center;
}
/* Footer Section End */